name: My workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: Write a log
        run: |
          echo "HELLO CI!"